# Python
__pycache__/
*.py[cod]
*$py.class
*.pyc
*.pyo

# Django
*.log
db.sqlite3
db.sqlite3-journal
/media
/staticfiles

# Virtual Environment
venv/
env/
ENV/

# IDEs
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db